*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* ## Colors */
  /* ### Primary */
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  /* ### Neutral */
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --logo-gradient: linear-gradient(-130deg, hsl(133, 65%, 51%) 0%, hsl(192, 70%, 51%) 100%);
}

.a-text {
  fill: var(--white);
}

.a-object {
  fill: url(#object-gradient);
}

._link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.img {
  width: 100%;
}

._logo {
  width: 139px;
}

.title {
  font-weight: 300;
  color: var(--dark-blue);
  margin: 0 auto;
  max-width: 600px;
}

.copy {
  color: var(--grayish-blue);
  margin: 0 auto;
  max-width: 600px;
}

.button {
  display: inline-block;
  font-size: .9375rem;
  font-weight: 400;
  letter-spacing: -.25px;
  padding: 14px 33px;
  color: var(--white);
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  border-radius: 50px;
  position: relative;
}

.card {
  max-width: 500px;
  margin: 0 auto;
}

.page {
  font-family: 'Public Sans', sans-serif;
  min-width: 375px;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 0 24px;
  text-align: center;
}

/* start page__header  */
.page__header {
  background: var(--white);
  position: relative;
  z-index: 10;
}

.wrapper.-header {
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

._logo.-header .a-text {
  fill: var(--dark-blue);
}

.a-menuCheckbox,
.button._nav,
.list._header,
.a-closeMenu {
  display: none;
}

.m-menuToggle {
  cursor: pointer;
  min-width: 24px;
}

.a-menuCheckbox:checked~.m-menuToggle .a-openMenu {
  display: none;
}

.a-menuCheckbox:checked~.m-menuToggle .a-closeMenu {
  display: block;
}

.a-closeMenu {
  margin: 0 auto;
}

.a-menuCheckbox:checked~.list._header {
  display: block;
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  /* text-align: center; */
  padding-top: 54px;
  padding-bottom: 324px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(255, 255, 255, .1));
}

.list._header::before {
  position: absolute;
  top: 4%;
  bottom: 52%;
  margin-left: 0;
  margin-right: 0;
  left: 24px;
  right: 24px;
  content: '';
  background: var(--white);
  border-radius: 5px;
  display: inline-block;
  z-index: 1;
}

.list._item {
  font-size: 1.1875rem;
  letter-spacing: -.5px;
  margin-bottom: 23px;
  position: relative;
  z-index: 2;
}

.list._link._nav {
  color: var(--dark-blue);
}

/* end page__header */
/* start page__content */
/* start article - hero */
.hero {
  background: var(--very-light-gray);
  position: relative;
}

.wrapper.-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 87px;
  position: relative;
  z-index: 5;
}

.wrapper.-hero::before {
  position: absolute;
  content: '';
  top: -64px;
  right: 0;
  width: 375px;
  height: 423px;
  background: url('/img/bg-intro-mobile.svg') no-repeat;
  z-index: 1;
}

.img._hero {
  position: relative;
  z-index: 5;
  width: 343px;
  margin-top: -121px;
}

.title._hero {
  font-size: 2.4375rem;
  font-weight: 300;
  letter-spacing: -.3px;
  margin: 24px 0 0 0;
}

.copy._hero {
  font-size: .9375rem;
  letter-spacing: -.2px;
  line-height: 1.66;
  margin: 17px 0 32px 0;
}

/* end article - hero  */
/* start article - choose */
.wrapper.-choose {
  padding-top: 66px;
  padding-bottom: 66px;
}

.choose {
  background: var(--light-grayish-blue);
}

.title._choose {
  font-size: 1.9375rem;
}

.copy._choose {
  margin-top: 17px;
  font-size: .875rem;
  letter-spacing: .2px;
  line-height: 1.75;
}

.img._choose {
  width: 72px;
}

.group._choose {
  margin-top: 57px;
}

.card._choose {
  margin-top: 32px;
}

.card._choose:first-of-type {
  margin-top: 57px;
}

.title._choose._card {
  margin-top: 23px;
  font-size: 1.1875rem;
}

.copy._choose._card {
  margin-top: 20px;
}

/* end article - choose  */
/* start article - articles */
.articles {
  background: var(--very-light-gray);
}

.wrapper.-articles {
  padding-top: 89px;
  padding-bottom: 87px;
}

.title._articles {
  font-size: 1.9375rem;
}

.card._articles {
  margin-top: 25px;
  background: var(--white);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card._articles:first-of-type {
  margin-top: 32px;
}

.img._articles {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.group._articles {
  text-align: left;
  margin: 19px 0 0 31px;
  padding-bottom: 42px;
}

.author._articles._group {
  font-size: .625rem;
  letter-spacing: -.1px;
}

.title._articles._group {
  font-size: 1rem;
  letter-spacing: -.3px;
  width: 90%;
  margin-top: 10px;
}

.copy._articles._group {
  font-size: .875rem;
  letter-spacing: -.7px;
  line-height: 1.27;
  width: 90%;
  margin: 9px 0 0 0;
}

/* end article - articles  */
/* end page__content */
/* start page__footer */
.page__footer {
  background: var(--dark-blue);
}

.group._footer {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group._footer._cta {
  padding-top: 23px;
}

.list._footer.-social {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

._item.-social {
  margin: 0 15px 0 0;
}

._item.-social:last-child {
  margin: 0;
}

.img._footer {
  width: 25px;
}

.group._nav._footer {
  padding-top: 27px;
}


.list._item._footer {
  margin-bottom: 12px;
}

.list._link._footer {
  color: var(--grayish-blue);
  font-size: .9375rem;
}

.copy._footer {
  font-size: .9375rem;
  letter-spacing: -.2px;
  margin-top: 27px;
}

.attribution {
  font-size: .5rem;
  text-align: center;
  padding: 5px 0;
  color: var(--very-light-gray);
}

.attribution a {
  color: var(--lime-green);
}

/* end page__footer */



@media only screen and (min-width: 900px) {
  .page {
    position: relative;
    overflow-x: hidden;
  }
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 165px;
    text-align: left;
  }

  .wrapper.-header, .list._footer._nav {
    text-align: center;
  }

  .card {
    margin-left: 0;
  }

  /* start page__content */
  /* start article - hero */
  .wrapper.-hero {
    flex-direction: row;
    justify-content: initial;
    align-items: flex-start;
    padding-bottom: 169px;
  }

  .wrapper.-hero::before {
    background: url('/img/bg-intro-desktop.svg') no-repeat;
    background-size: 100%;
    width: 88.2%;
    height: 917px;
    top: -259px;
    right: -456px;
  }

  .img._hero {
    order: 2;
    position: absolute;
    top: 0;
    right: -133px;
    width: 53.3%;
    z-index: 5;
  }

  .group._hero {
    margin-top: 147px;
  }

  .title._hero {
    font-size: 3.4375rem;
    letter-spacing: -.5px;
    width: 70%;
  }

  .copy._hero {
    font-size: 1.125rem;
    letter-spacing: -.3px;
    line-height: 1.55;
    margin: 24px 0 35px 0;
    width: 72%;
  }

  /* end article - hero  */
  /* start article - choose */
  .wrapper.-choose {
    padding-top: 106px;
    padding-right: 103px;
    padding-bottom: 100px;
  }

  .title._choose {
    font-size: 2.4375rem;
    letter-spacing: -.2px;
    margin: 0;
  }

  .copy._choose {
    font-size: 1.125rem;
    letter-spacing: -.3px;
    line-height: 1.6;
    margin: 24px 0 0 0;
    width: 57%;
  }

  .group._choose {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 72px;
  }

  .card._choose,
  .card._choose:first-of-type {
    margin: 0;
    flex: 0 1 285px;
  }

  .title._choose._card {
    font-size: 1.5rem;
    letter-spacing: -.4px;
    margin-top: 35px;
  }

  .copy._choose._card {
    font-size: 1.0625rem;
    letter-spacing: -.77px;
    line-height: 1.55;
    width: 88%;
    margin-top: 26px;
  }

  /* end article - choose  */
  /* start article - articles */
  .wrapper.-articles {
    padding-top: 91px;
    padding-bottom: 63px;
    display: flex;
    flex-wrap: wrap;
  }

  .title._articles {
    font-size: 2.375rem;
    letter-spacing: .15px;
    flex: 0 1 100%;
    margin: 0;
    max-width: initial;
  }

  .title._articles._group:hover {
    color: var(--lime-green);
  }

  .card._articles,
  .card._articles:first-of-type {
    flex: 0 1 255px;
    margin-right: 30px;
    margin-top: 49px;
  }

  .card._articles:last-of-type {
    margin-right: 0;
  }

  .group._articles {
    margin-left: 24px;
  }

  /* end article - articles  */
  /* end page__content */

}

@media only screen and (min-width: 1100px) {
  /* start page__header  */
  .wrapper.-header {
    padding-bottom: 17px;
    padding-top: 17px;
  }

  ._logo.-header {
    margin-top: 6px;
  }

  .m-menuToggle {
    display: none;
  }

  .button._nav {
    display: inline-block;
    position: relative;
  }

  .button:hover::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--white);
    border-radius: 50px;
    display: flex;
    opacity: .5;

  }

  .a-menuCheckbox:checked ~ .list._header {
    display: flex;
    position: initial;
    padding: 0;
    background: none;
  }

  .list._header {
    display: flex;
    margin-left: 53px;
  }

  .list._header::before {
    content: unset;
  }

  .list._item._nav {
    color: var(--grayish-blue);
    font-size: .9375rem;
    letter-spacing: -.6px;
    margin: 0 30px 0 0;
    position: relative;
  }

  .list._link._nav {
    color: var(--grayish-blue);
  }

  .list._item._nav:hover .list._link._nav {
    color: var(--dark-blue);
  }

  .list._item._nav:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    bottom: -32px;
    left: 0;
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    color: var(--dark-blue);
  }
  /* end page__header */
    /* start page__footer */
    .wrapper.-footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      padding-top: 9px;
      padding-bottom: 20px;
    }
  
    .group._footer {
      align-items: flex-start;
    }
  
    .button._footer,
    .copy._footer {
      align-self: flex-end;
    }
  
    .list._footer.-social {
      margin-top: 54px;
    }
  
    .list._item.-social {
      margin-right: 14px;
    }
  
    .list._item.-social:hover {
      filter: brightness(0) saturate(100%) invert(90%) sepia(65%) saturate(6820%) hue-rotate(59deg) brightness(87%) contrast(87%);
    }
     
    .img._footer {
      width: 20px;
    }
  
    .group._footer._cta {
      padding-top: 40px;
    }
  
  
    .group._nav._footer {
      display: flex;
      flex-direction: row;
      flex: 0 1 25.3%;
      justify-content: space-between;
      margin: 40px auto 0 10.3%;
      padding: 0; 
    }
  
    .list._item._footer:hover .list._link._footer {
      color: var(--lime-green);
    }
  
  
    .attribution {
      flex: 0 1 100%;
    }
      /* end page__footer */
}